
body {
    background-image: url("documentation/galaxybckgrnd.jpg");
}

.topbanner {
    border: solid black;
    width: 300px;
    height: 200px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
     color: #08FF08;
}

.nav-item{
    color: #08FF08;
}




.circle {

    height: 150px;
    width: 150px;
    border-radius: 50%;
    alignment: center;
position: relative;
    top: 300px;
    margin: auto;

    background-color: #0CB1C4;
    animation-name: spin;
    animation-duration: 100000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
background-image: radial-gradient(yellow, red, blue);
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}









img{
    height: 200px;
    position: relative;
    left: 297px;
    bottom: 90px;
    border-radius: 50%;


}




.dot1{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: pink;
    position: relative;
    left: 300px;
}


.dot2{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: brown;
    position: relative;
    bottom: -250px;

}

.dot3{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: green;
    position: relative;
    right: 150px;

}

.dot4{  height: 20px;
    width: 20px;
    border-radius: 50%;
    background: blue;
    position: relative;
    right: 100px;


}

.dot5{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: darkred;
    position: relative;
    right: -300px;

}

.dot6{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: yellow;
    position: relative;
    right: -200px;

}

img {
    position: relative;
    bottom: 130px;
}

p{
    color: #08FF08;
    font-size: 20px;
    font-family: Courier;
}

h1   {
    animation: blinker 4s linear infinite;
    font-family: "Copperplate Gothic Bold";
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

h2  {
    animation: blinker 4s linear infinite;
    font-family: "Copperplate Gothic Bold";
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
