.jumbotron{
    margin:15px 30px 0px 30px;
    border-radius:10px;
    background-image:



            url("documentation/galaxybckgrnd.jpg");
    background-repeat: no-repeat;
   /* background-attachment: fixed;*/
    color:white;
    height:340px;
    overflow: auto;
}

.page-scroll{
    height:5000px;
}



.lead{
    font-family:raleway;
    margin-top:-10px;
}

.topbanner {

    width: 300px;
    height: 200px;
    margin: auto;
    text-align: center;
    color: #08FF08;
    padding-top: 50px;

}


img{

    position: relative;
    bottom: 90px;
}
.foot{position: relative;
    bottom: 90px;
    margin-bottom: -70px;

}

.wrapper {
    height: 100vh;
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
}

*/*.typing-demo {
    width: 22ch;
    animation: typing 8s steps(22), blink .5s step-end infinite alternate;
    animation-iteration-count: infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
}

@keyframes typing {
    from {
        width: 0
    }
} */

@keyframes blink {
    50% {
        border-color: transparent
    }

}


h1   {
    /*animation: blinker 4s linear infinite;*/
    font-family: "Copperplate Gothic Bold";
    text-shadow: 2px 2px #ffcccb;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

h2  {
   /* animation: blinker 4s linear infinite;*/
    font-family: "Copperplate Gothic Bold";
    text-shadow: 2px 2px #ffcccb;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

h5{

}




/*p{
    color: #08FF08;
    font-size: 30px;
    font-family: Courier;
    text-shadow: 2px 2px #ff0000;
    font-weight: bold;
}*/



.effect2{
    animation: blinker 4s linear infinite;
    color: #08FF08;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.effect1{
    animation: blinker 4s linear infinite;
    color: #08FF08;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.effect3{
    animation: blinker 4s linear infinite;
    color: #08FF08;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.effect4{
    animation: blinker 4s linear infinite;
    color: #08FF08;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

